<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/resources/css/errors.css}" rel="stylesheet" />
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100591850-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <div id="global_wrapper">
        <main>
            <div>
                <label class="code-label" th:text="${error_code}" />
            </div>
            <div>
                <label class="desc-label" th:text="${error_desc}" />
            </div>
        </main>
        <div class="menu">
            <a class="menu-item" th:href="@{/}">Strona główna</a>
        </div>
    </div>
</body>

</html>